body {
    padding: 20px;
    background-color: #0b0b26;
}

h1, h2, h3, li, p {
    color: aliceblue;

}

ul{
    list-style: none;
   counter-reset: item;
}

button {
    margin-right: 5px;
}

header > .container {
    display: flex;
    align-items: baseline;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 1rem;
    transition: all 0.2s ease;
}

